* {
    margin: 0;
}

body{
    background-color: black;
}
#containerTituloInicio {
    height: 8vh;
    width: 97vw;
    display: flex;
    justify-content: center;
    padding-top: 1vw;
    background-color: black;
    border: 5px solid;
    border-color: #CD853F;
    border-radius: 40vw;
}

#tituloInicio {
    color: white;
    font-family: 'Georgia', serif;
    font-size: 3vw;
}

#conteinerGraficoLinha {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteinerGraficoPizza {
    display: flex;
    align-items: center;
    justify-content: center;
}
#graficoPizza{
    width: 40% !important;
    height: 70% !important;
}

#linha {
    background-color: white;
}

#tituloPizza {
    color: white;
    height: 10vh;
    width: 89vw;
    font-size: 3vw;
    text-align: center;
    margin-top: 5vh;
}

#containerTituloPizza { 
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96vw;
}

#containertudo {
    display: flex;
    background-color: black;
} 

#caixa1 {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#caixa2 {
    width: 50vw;
    border: 5px solid;
    border-color: #CD853F;
    padding: 1vh;
}

#fundTituloInicio {
    background-color: black;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
}

#divTextoGrafico {
    background-color: black;
    height: 100vh;
    width: 40vw;    
    color: white;
    border: 5px solid;
    border-color: #CD853F;
    display: flex;
    justify-content: center;
    align-items: center;
}

#TextoGrafico {
    text-align: center;
    font-size: 2vw;
    font-family: 'Georgia', serif;
    margin-left: 0.5vw;
    margin-right: 0.5vw;

}

#h2UltimoQuiz {
    color: white;
    text-align: center;
    font-family: 'Georgia', serif;
}

#divSelect {
    display: flex;
    justify-content: flex-end;
    margin-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#SeletorMeses {
    color: white;
    font-size: 2vh;
    font-family: 'Georgia', serif;
}

#opcoes {
    border: 1px solid;
    border-color: #CD853F;
    border-radius: 40vw;
    background-color: #CD853F;  
    color: black;
}

#containerKPIS {
    display: flex;
}

#Kpi1 {
    color: white;
    height: 15vh;
    width: 22vw;
    border: 5px solid;
    border-color: #CD853F;
    background-color: black;
    margin-right: 14vw;
    margin-left: 5vw;
}

#Kpi2 {
    color: white;
    height: 15vh;
    width: 22vw;
    border: 5px solid;
    border-color: #CD853F;
    background-color: black;
    margin-right: 10vw;
}

#Kpi3 {
    color: white;
    height: 15vh;
    width: 22vw;
    border: 5px solid;
    border-color: #CD853F;
    background-color: black;
    margin-bottom: 5vh;
}


#TituloKPI1 {
    color: white;
    width: 30vw;
    margin-left: 0.7vw;
    font-family: 'Georgia', serif;
}

#TituloKPI2 {
    color: white;
    width: 30vw;
    margin-left: 1vw;
    font-family: 'Georgia', serif;
}

#TituloKPI3 {
    color: white;
    width: 21vw;
    margin-left: 1vw;
    font-family: 'Georgia', serif;
}

#div_KPI1 {
margin-left: 6vw;
font-size: 5vh;
border: 3px solid;
padding-left: 3vw;
margin-right: 6vw;
border-color: #CD853F;
border-radius: 40vw;
}

#div_KPI2 {
margin-left: 7vw;
font-size: 5vh;
border: 3px solid;
margin-right: 6vw;
border-color: #CD853F;
border-radius: 40vw;
display: flex;
justify-content: center;
align-items: center;
}

#div_KPI3 {
margin-left: 7vw;
font-size: 5vh;
border: 3px solid;
padding-left: 2vw;
margin-right: 9vw;
border-color: #CD853F;
border-radius: 40vw;
}

#tituloHistorico {
    color: white;
    font-family: 'Georgia', serif;
    font-size: 5vh;
    margin-left: 12vw;
    margin-top: 3vh;
}

#BotaoVoltar {
    background-color: #CD853F;
    width: 20vw;
    height: 5vh;
    font-size: 1.5vw;
    font-family: 'Georgia', serif;
    border: 2px solid;
    border-color: #CD853F;
    border-radius: 50vw;
}