* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 13vh;
    position: fixed;
    display: flex;
    transition: 0.5s ease;
}

.container-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-header:nth-child(2) {
    width: 50%;
}


.container-header:nth-child(1),
.container-header:nth-child(3) {
    width: 25%;
}

#btnHeader {
    background-color: #eb7a16;
    height: 3.6vw;
    width: 12vw;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 0.8px;
    transition: 0.2s ease;
    font-size: 1.15vw;
}

#btnHeader:hover,
#btnApresentacao:hover {
    background-color: #4E2B06;
}

#navHeader {
    color: #fff;
    display: flex;
    list-style: none;
    width: 80%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.aNavHeader {
    font-size: 1.2vw;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.liHeader {
    transition: 0.15s ease;
}

.liHeader:hover {
    color: #d4d0d0;
}

#apresentacao {
    height: 100vh;
    width: 100%;
    background: url('../assets/imagem2.png');
    background-size: 100% 100%;
}

#bgFilter {
    background: #000000c6;
    height: 100%;
    width: 100%;

}

#apresentacaoContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#h2Apresentacao {
    font-size: 2.2vw;
    color: #fff;
    font-weight: bold;
}

#pApresentacao {
    color: #ffffff96;
    width: 60%;
    font-size: 1.4vw;
    text-align: center;
    padding: 2.45vw 0;
}


#btnApresentacao {
    background-color: #653604;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    letter-spacing: 0.8px;
    transition: 0.2s ease;
    height: 3vw;
    width: 12vw;
    font-size: 1vw;
}

#spanCopy {
    color: #ffffff96;
    font-size: 1vw;
}

#apresentacaoSubContainer {
    height: 88%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logo {
    width: 6vw;
    margin-top: 3%;
}

#LinhaDaVida {
    height: 100vh;
    width: 100%;
    background: #000;
}

#h2LinhaDaVida {
    color: #fff;
    text-align: center;
    word-spacing: 0.3px;
    font-size: 3vw;
    padding-top:13vh;
}

#conteudoLinhaDaVida {
    width: 100%;
    height: 80vh;
    display: flex;
}

.containerLinhaDaVida {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgLinhaDaVida {
    width: 70%;
}

#p-LinhaDaVida {
    font-size: 1.15vw;
    color: #d4d0d0;
    padding: 0 3vw;
}

#Missao {
    width: 100%;
    background: #000;
}

#conteudoMVV {
    display: flex;
    justify-content: space-around;
    background-color: #000;
}

.containerMVV {
    width: 30%;
    padding : 1vw;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: 0.3s ease-in;
    height: 50vh;
}

.containerMVV:hover {
    background-color: #1b0f02;
}

.container {
    display: flex;
    align-items: end;
    padding-left: 3vw;
}

.titleMVV {
    font-weight: 200;
    font-size: 1.8vw;
    color: #b1620d;

}

.containerSpanMVV {
    margin-left: 1.5vw;
    height: 5vw;
    width: 70%;
    border-bottom: 2px solid #4E2B06;
    display: flex;
    align-items: end;
}

.containerTitleMVV {
    display: flex;
    width: 30vw;
}

.imgMVV {
    width: 6vw;
}

.p_MVV {
    color: #fff;
    height: 80%;
    padding: 1vw 0;
    font-size: 1.3vw;
    margin: 0;
    width: 100%;
}

footer {
    height: 45vh;
    width: 100%;
    background: #000;
}

#logoFooter {
    width: 20vw;
    margin-top: 10%;
}

#containerFooter {
    height: 70%;
}

.conteudofooter {
    background: #030303;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#Funcionalidades {
    color: #fff;
    padding-top:7%;
    padding-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divFuncionalidades {
    font-size: 2.0vw;
    background-color: #000;
}

#missoes {
    color: #fff;
    background-color: #000;
    padding-top: 7%;
    padding-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

#divMissoes {
    font-size: 2.0vw;
    background-color: #000;
}

#PorqueLogin {
    height: 100vh;
    width: 100%;
    background: #000;
}

#h2PorqueLogin {
    color: #fff;
    text-align: center;
    word-spacing: 0.3px;
    font-size: 3vw;
    padding-top:13vh;
}

#conteudoPorqueLogin {
    width: 100%;
    height: 80vh;
    display: flex;
}

.containerPorqueLogin {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgPorqueLogin {
    width: 70%;
}

#p-PorqueLogin {
    text-align: center;
    font-size: 1.15vw;
    color: #d4d0d0;
    margin-bottom: 2vw;
}
